---
---
<!DOCTYPE html>
<html>
  <head>
    <title>About pffy</title>
    {% include ga.html %}
  </head>
  <body>
  {% include header.html %}
    
    <h1>About</h1>

    The Pffy Authors develop free <a href="https://m.pffy.dev">software and services</a> for better productivty and lifelong learning. This web page provides information about our terms of service, privacy policy, and past projects. For more information about current projects, <a href="https://m.pffy.dev">visit the main site</a>.

  {% include style.html %}    
<style>
  body {
    font-size: 36pt;
  }
</style>

    
    
  </body>
</html>

