---
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Terms of Service</title>
    {% include ga.html %}
  </head>
  <body>
  {% include header.html %}
    
    <h2>Terms of Service</h2>
    
    <p>
      These Terms govern your access to and use of the products and services we provide through or for pffy.dev, sealchop.com, mathbook.page, ofcode.day, and dofufa.com (collectively, “Services”).
    </p>
    <p>
      These Terms also govern visitors’ access to and use of any websites that use our Services, like the websites and software we create and freely distribute (including plugins and browser extensions). Please note though that the these websites, software, and implemented licensed technology may also have additional terms of use.
    </p>    
    <p>
      Please read these Terms carefully before accessing or using our Services. By accessing or using any part of our Services, you agree to be bound by all of the Terms and all other operating rules, policies, and procedures that we may publish via the Services from time to time (collectively, the “Agreement”). 
    </p>
    <p>
      You also agree that we may automatically change, update, or add on to our Services as stated in the Terms, and the Agreement will apply to any changes.      
    </p>
    
    <h3>Minimum Age Requirement</h3>
    
    <p>
      Our Services are not directed to children.
    </p>
    <p>
      You are not allowed to access or use our Services if you are under the age of 13 (or 16 in Europe). You may use our Services only if you can legally form a binding contract with us. In other words, if you are under 18 years of age (or the legal age of majority where you live), you can only use our Services under the supervision of a parent or legal guardian who agrees to the Agreement.
    </p>
    
    <h3>Feedback</h3>
    
    <p>
      We love hearing from you and are always looking to improve our Services. When you share comments, ideas, or feedback with us, you agree that we are free to use them without any restriction or compensation to you.      
    </p>
    
    <h3>Limitation of Liability</h3>
    
    <p>
      In no event will pffy-cloud, or its suppliers, partners, or licensors, be liable (including for any third-party products or services purchased or used through our Services) with respect to any subject matter of the Agreement under any contract, negligence, strict liability or other legal or equitable theory for: (i) any special, incidental or consequential damages; (ii) the cost of procurement for substitute products or services; (iii) for interruption of use or loss or corruption of data; or (iv) for any amounts that exceed $50 or the fees paid by you to pffy-cloud under the Agreement during the twelve (12) month period prior to the cause of action, whichever is greater.
    </p>
    <p>
      pffy-cloud shall have no liability for any failure or delay due to matters beyond its reasonable control. The foregoing shall not apply to the extent prohibited by applicable law.
    </p>
    <p>
      <b>European Users:</b> If we cause damage to you and you are a consumer in Europe, we limit our liability to the maximum amount permissible in your country of residence. Liability will be limited to foreseeable damages arising due to a breach of material contractual obligations typical for this type of contract. 
    </p>
    <p>
      pffy-cloud is not liable for damages that result from a non-material breach of any other applicable duty of care. This limitation of liability will not apply to any statutory liability that cannot be limited, to liability for death or personal injury caused by our negligence, liability caused by our willful misconduct or gross negligence, or our responsibility for something we have specifically promised to you. 
    </p>
    <p>    
      You and we agree that we and our affiliates’ total liability is limited to the greater of $50 or the amount paid by you to use our Services during the 12 months preceding the claim; To the extent that our liability is limited or excluded, the limitations or exclusions will also apply to the personal liability of our employees, legal representatives, and vicarious agents.      
    </p>
    
    
    <h3>Disclaimers</h3>
    
    <p>
      Our Services are provided “as is.” 
    </p>
    <p>
      pffy-cloud and its suppliers and licensors hereby disclaim all warranties of any kind, express or implied, to the maximum extent allowed by applicable law, including, without limitation, the warranties of merchantability, fitness for a particular purpose and non-infringement. 
    </p>
    <p>
      Neither pffy-cloud, nor its suppliers and licensors, makes any warranty that our Services will be error free or that access thereto will be continuous or uninterrupted. If you are still reading this, <a href="https://www.mashed.com/img/gallery/this-is-why-krispy-kreme-doughnuts-are-so-delicious/intro-1560967003.jpg">here is a treat</a>. You understand that you download from, or otherwise obtain content or services through, our Services at your own discretion and risk.     
    </p>
    
    <h3>Jurisdiction and Applicable Law</h3>
    
    <p>
      Except to the extent any applicable law provides otherwise, the Agreement and any access to or use of our Services will be governed by the laws of the state of California, U.S.A., excluding its conflict of law provisions and the application of the United Nations Convention of Contracts for the International Sale of Goods, and the proper venue for any disputes arising out of or relating to the Agreement and any access to or use of our Services will be the state and federal courts located in King County, Washington, U.S.A. Nothing in this Agreement affects your rights as a consumer to rely on mandatory provisions in your country of residence.      
    </p>
    
    <h3>Indemnification</h3>
    
    <p>
      You agree to indemnify and hold harmless pffy-cloud, its contractors, and its licensors, and their respective directors, officers, employees, and agents from and against any and all losses, liabilities, demands, damages, costs, claims, and expenses, including attorneys’ fees, arising out of or related to your use of our Services, including but not limited to your violation of the Agreement or any agreement with a provider of third-party services used in connection with the Services, Content that you post on any website (e.g., a Chinese seal chop badge), and any ecommerce activities conducted through your or another user’s website.
    </p>
    
    <h3>U.S. Economic Sanctions</h3>
    
    <p>
You agree that our ability to provide our Services to you is subject to compliance with U.S. sanctions that restrict or prohibit who or from where our Services can be accessed. 
    </p>
    <p>
      By using the Services, you represent and warrant that you (i) are not located or residing in any country or territory subject to comprehensive U.S. sanctions (currently Cuba, Crimea, Iran, North Korea, Donetsk People’s Republic, Luhansk People’s Republic, and Syria); (ii) are not listed on any United States list of prohibited or restricted parties, such as OFAC’s Specially Designated Nationals and Persons List, or otherwise subject to U.S. sanctions that would prohibit your access to or use of our Services; and (iii) shall not use or allow access by any of your customers or potential customers (if applicable) to the Services in any manner that may cause pffy-cloud to violate U.S. export controls and sanctions. 
    </p>
    <p>
      We reserve the right to restrict or block your access, or access by any of your customers or potential customers (if applicable), to the Services and/or to terminate the Agreement at any time without notice if we determine, at our sole discretion, that such access may cause a violation or create unacceptable risk to us under export controls or sanctions.      
    </p>
    
    
    
<h2>License for this terms of service</h2>

<p>
The template for this terms of service was generously shared by WordPress under the <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution ShareAlike 4.0 International License</a> (CC BY-SA 4.0).
</p>

<p>
<img title="CC BY SA 4.0" src="https://raw.githubusercontent.com/pffy/b/main/png/ccbysa40.png" />
</p>

<p>
A copy of the original WordPress terms of service can be found here:
</p>

<p>
<a href="https://wordpress.com/tos">https://wordpress.com/tos</a>
</p>

<hr>
<p>
  The Pffy Authors
</p>
  
{% include style.html %}
    
  </body>
</html>

